@{
    var data = ViewBag.Data;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <h1>Product Number:@data.Id</h1>
    <p>Product Name:@data.Name</p>
</body>
</html>
